
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Meu Portfólio" %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="content">
        <form action="{% url 'set_language' %}" method="post">
          {% csrf_token %}
          <select name="language">
            <option value="pt">{% trans "Português" %}</option>
            <option value="en">{% trans "Inglês" %}</option>
          </select>
          <input type="submit" value="{% trans "Trocar idioma" %}">
        </form>

        {% block content %}{% endblock %}
    </div>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
